// Variables
//---------------------------------------------

$primary: #232d37
$secondary: #2b3547
$light-accent: #424e65
$dark-accent: #161f25
$main-accent: #d7cfbc
$ui-accent: #c30000

// Fonts
//---------------------------------------------
@import fonts/fjalla/stylesheet
@import fonts/yellowtail/stylesheet

// Base Styles
//---------------------------------------------
body
  background: $primary
  color: #fff
  padding-top: 14em
p
  font-family: Georgia, 'Times New Roman', sans-serif
  color: #fff
h1, h2, h3, h4, h5, h6
  font-family: fjalla
  text-transform: uppercase
h1
  font-size: 3.5em
h2
  font-size: 3em
h3
  font-size: 2.5em
h4
  font-size: 2em
h5
  font-size: 1.5em
h6
  font-size: 1em
