.container
  +container
  width: 80%
  margin: 0 auto

#reel
  padding-bottom: 8em
.intro
  h1
    font-family: fjalla
    font-size: 10.5em
    color: #e6e6e6
    text-transform: uppercase
    text-align: center
    margin-bottom: 1em
    .name
      color: $main-accent
      display: block
      font-size: 0.6em
      font-family: yellowtail
      text-transform: capitalize
      line-height: 1.5em
.who
  +span-columns(6)
  h2
    color: $main-accent
    display: block
    font-size: 4em
    font-family: fjalla
    text-align: center
    line-height: 1.5em
  .and
    color: #fff
    font-family: yellowtail
    font-size: 2.5em
    display: block
    text-align: center
    margin-bottom: 1em
.reel
  +span-columns(6 omega)
#featured-project
  background: $secondary
  text-align: center
  position: relative
  h2
    margin-bottom: 1em
  .container
    padding: 4em 0
  .content
    +span-columns(12)
  .ui
    .nav
      width: 59px
      height: 78px
      position: absolute
      top: 50%
      margin-top: -35px
      border: none
      opacity: 0.4
      &:hover
        opacity: 1.0
    .prev
      left: 80px
      background: url(/images/nav_left.png) no-repeat 50% 50%
    .next
      right: 80px
      background: url(/images/nav_right.png) no-repeat 50% 50%
.featured-project-list
  width: 100%
  font-size: 0
  white-space: nowrap
  overflow: hidden
.featured-project
  width: 100%
  background: #000
  +inline-block
  position: relative
  +transition(margin-left 250ms ease-in-out)
  img
    width: 100%
    height: auto
    max-height: 500px
  .description
    border-top: 3px solid $ui-accent
    background: rgba(0,0,0,0.4)
    font-size: 14px
    position: absolute
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    height: 0
    +transition(250ms height ease-in-out)
    h2
      margin-bottom: 20px 
    p
      font-size: 16px
      line-height: 1.2em
    .inner
      +box-sizing(border-box)
      padding: 20px
      overflow: hidden
  &:hover, .active
    .description
      +transition(250ms height ease-in-out)
      height: 50%
#works
  > .container
    padding: 4em 0
  h2
    text-align: center
    color: $light-accent
    margin-bottom: 1em
.works-ui
  border-top: 4px solid $light-accent
  background: $secondary
  margin-bottom: 2em
  li
    +inline-block
    a
      display: block
      padding: 1em
      width: 5em
      text-align: center
      color: #fff
      text-decoration: none
      &:hover
        text-decoration: underline
        background: $ui-accent
  .active 
    a
      background: $light-accent
      position: relative
      &:hover
        background: $light-accent
      &:after
        content: ""
        display: block
        width: 0 
        height: 0
        border-left: 3.5em solid transparent
        border-right: 3.5em solid transparent
        border-top:  1em solid $light-accent
        position: absolute
        top: 100%
        left: 0
  .container
    width: auto
  &.fixed
    position: fixed
    top: 68px
    left: 0
    right: 0
    +box-shadow(rgba(0,0,0,0.4) 0 4px 0 0)
.works-list
  margin-top: 4em
.work
  +isolate-grid(4)
  margin-bottom: 1em
  .thumbnail
    background: $light-accent
    min-height: 10em
  .inner
    padding: 1em
    background: $secondary
    min-height: 13em
    h3
      font-size: 1.5em
      color: $main-accent
    p
      line-height: 1.8em
      font-size: 0.9em
      margin-top: 0.5em
#contact
  .header
    background: $main-accent
    padding: 2em 0
    text-align: center
    font-size: 1.4em
    h2
      color: $primary
    h3
      color: $primary
      font-family: yellowtail
      text-transform: none
  .contact-options
    margin: 3em 0
    text-align: center
    li
      +inline-block
      background: $ui-accent
      padding: 1em 1em 1em 2.5em
      margin: 2em 1em
      a, span
        color: $primary
        font-family: fjalla
        text-decoration: none
        text-stransform: uppercase
        font-size: 1.5em
  .photo
    +span-columns(4)
    img
      width: 100%
  .text
    +span-columns(7 omega)
    line-height: 1.8em
    h4
      font-family: yellowtail
      text-transform: none
      color: $main-accent
