extends layout

block content
    #reel
        .container
            section.intro
                h1 Greetings!
                    span.name I&rsquo;m Kory Dondzila
            section.who
                span.and &amp; I do
                h2 Technical Design &amp; Development
            section.reel
                iframe(src="//player.vimeo.com/video/42804566", width="461", height="259", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

    section#featured-project
        .container
            .content
                h2 Featured Project
                div.featured-projects
                    .ui
                        button.nav.prev
                        button.nav.next
                    ul.featured-project-list
                        li.featured-project
                            img(alt="Featured Project", src="#")
                            .description
                                .inner
                                    h3 Project Name
                                    p This is the project description. It's decidedly not very long but it could easily be longer.
                        li.featured-project
                            img(alt="Featured Project", src="#")
                            .description
                                .inner
                                    h3 Project Name
                                    p This is the project description. It's decidedly not very long but it could easily be longer.
                        li.featured-project
                            img(alt="Featured Project", src="#")
                            .description
                                .inner
                                    h3 Project Name
                                    p This is the project description. It's decidedly not very long but it could easily be longer.
    section#works
        .container
            h2 Works
            .works-ui
                .container
                    ul
                        li.active
                            a(href="#art") Art
                        li
                            a(href="#games") Games
                        li
                            a(href="#scripts") Scripts
                        li
                            a(href="#3d") 3D
            ul.works-list
                li.work
                    .thumbnail
                    .inner
                        h3 Project Title
                        p Hello world this is the description of this photo thing. It could probably a bit longer than that first sentence, but maybe like this long? I dunno.
                li.work
                    .thumbnail
                    .inner
                        h3 Project Title
                        p Hello world this is the description of this photo thing. It could probably a bit longer than that first sentence, but maybe like this long? I dunno.
                li.work
                    .thumbnail
                    .inner
                        h3 Project Title
                        p Hello world this is the description of this photo thing. It could probably a bit longer than that first sentence, but maybe like this long? I dunno.
                li.work
                    .thumbnail
                    .inner
                        h3 Project Title
                        p Hello world this is the description of this photo thing. It could probably a bit longer than that first sentence, but maybe like this long? I dunno.
                li.work
                    .thumbnail
                    .inner
                        h3 Project Title
                        p Hello world this is the description of this photo thing. It could probably a bit longer than that first sentence, but maybe like this long? I dunno.
                li.work
                    .thumbnail
                    .inner
                        h3 Project Title
                        p Hello world this is the description of this photo thing. It could probably a bit longer than that first sentence, but maybe like this long? I dunno.

    section#contact
        .header
            .container
                h2 Contact Kory
                h3 Available for Work
        .container
            .contact-options
                li.email
                    a(href="mailto:kory@korydondzila.com") kory@korydondzila.com
                li.phone
                    span 734.262.2546
                li.resume
                    a(href="/downloads/resume.pdf") Resume
            .about
                .photo
                    img(src="#" alt="Photo of Kory Dondzila")
                .text
                    h4 About
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non magna eu nunc facilisis pharetra vitae id velit. Nullam cursus posuere lorem, a dignissim metus blandit vitae. Phasellus id sem a nulla placerat suscipit. Fusce venenatis lobortis nunc, sit amet ultrices nulla ultricies in. Morbi commodo turpis non libero pulvinar dapibus. Nulla eget massa massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla molestie adipiscing ligula ac aliquet. Phasellus ornare vulputate laoreet. Nulla at facilisis lectus. In hac habitasse platea dictumst. Nullam congue dapibus dapibus. Aliquam erat volutpat. In ante nunc, convallis a lobortis in, pretium sed massa.
                    
