doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/screen.css')
    script(src='/js/jquery.js')
    script(src='/js/underscore-min.js')
  body
    #wrapper
        header#l-header
            nav
                ul.navbar
                    li
                        a(href='/') Reel
                    li
                        a(href='#featured-project') Featured Project
                    li.split
                        span &nbsp;
                    li
                        a(href='#works') Works
                    li
                        a(href='#contact') Contact
                    li.resume
                        a(href='#resume') Resume
                div.banner
                    h1#logo Kory Dondzila - Artist &amp; Developer
        #l-main
            block content
        #l-footer
    script(src='/js/site.js')
