src:
  coffee: 'src/coffee/app.coffee'
  sass: 'src/sass/style.sass'
  jade: 'src/jade/index.jade'
dist:
  coffee: 'dist/static/js'
  sass: 'dist/static/css'
  jade: 'dist'
watch:
  sass: 'site/sass/**/*.sass'
  jade: 'site/jade/**/*.jade'
  assets: [
    'dist/**/*.js'
    'dist/**/*.html'
    'dist/**/*.css'
  ]

